COMPOSE_PROJECT_NAME=docpilot

POSTGRES_DB=docpilot
POSTGRES_USER=docpilot
POSTGRES_PASSWORD=docpilot
POSTGRES_PORT=5432

REDIS_PORT=6379

QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334

BACKEND_PORT=8000
FRONTEND_PORT=3000

